<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="modal fade in" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div id="serverMessages"></div>
                    <br>
                    <div id="waitingForPlayer"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div id="oppenentNickname"><b>...</b></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <canvas id="game" resize="true"> </canvas>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <div id="gameLog"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div id="nickname"></div>
            </div>
            <div class="col-sm-3">
                <div id="status">white to move</div>
            </div>
        </div>
    </div>
    <!-- container -->

    <footer>
        <% include partials/footer.ejs %>
    </footer>
    <% include partials/jsdefaults.ejs %>

</body>

</html>