<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <header>
        <% include partials/header.ejs %>
    </header>



    <div id="greetingModal" class="modal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div id="serverMessages"></div>
                    <br>
                    <div id="waitingForPlayer"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>



    <div id="checkmateModal" class="modal fade" role="dialog" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">CHECKMATE!</h4>
                </div>
                <div class="modal-body">
                    <div id="gameOverMessage"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>



    <div class="container">

        <div class="row">

            <div class="col-sm-6">

                <div id="oppenentNickname"><b>...</b></div>
                <canvas id="game" resize="true"> </canvas>
                <div id="nickname"></div>
                <div id="status">white to move</div>
                <br>
            </div>



            <div class="col-sm-3 log">
                <!--<div id="gameLog"></div>-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Move History</h3>
                    </div>
                    <div class="panel-body">
                        <div id="gameLog"></div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <!-- container -->



    <footer>
        <% include partials/footer.ejs %>
    </footer>
    <% include partials/jsdefaults.ejs %>

</body>

</html>